@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Darker+Grotesque:wght@300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #8a31ef;
}
::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}
.container {
  max-width: 1280px;
  margin-inline: auto;
  overflow: hidden;
}
nav {
  height: 15vh;
  align-items: center;
  color: #fff;
  font-family: "Darker Grotesque", sans-serif;
}
.navLeft h2 {
  font-size: 5vh;
}
.navMid h3 {
  font-size: 3.5vh;
  font-weight: 400;
  margin-left: 50px;
}
.navRight button {
  padding: 1rem 3rem;
  color: #000000;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  font-family: "Darker Grotesque", sans-serif;
  font-size: 3vh;
  font-weight: 600;
}
.navRight button i {
  color: #000;
  background-color: #fff;
  font-size: 1.3rem;
}
.page1 {
  height: 42vh;
  width: 100%;
  background-size: cover;
}
.page1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/bg.png");
  background-size: cover;
  opacity: 10%;
}
.sub-page1 {
  align-items: center;
  z-index: 12;
  color: #fff;
  line-height: 1;
}

.sub-page1 p {
  font-size: 2.6vh;
  width: 10%;
  font-family: "Darker Grotesque", sans-serif;
  line-height: 1;
}
.sub-page1 p span {
  font-size: 5vh;
  font-weight: 900;
}
.sub-page1 h1 {
  font-size: 10rem;
  width: 95%;
  text-align: left;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.sub-page2 {
  align-items: center;
  line-height: 0;
  display: flex;
}
.sub-page2 p {
  /* width: 20%; */
  font-size: 3vh;
  font-family: "Darker Grotesque", sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 400;
  border-top: 1px solid #fff;
  padding-top: 10px;
}
.sub-page2 h1 {
  font-size: 10rem;
  width: 65%;
  text-align: left;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #faf5ff;
  margin-left: 30px;
}
.sub-page2 .image {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 1vh 2vh;
}
.sub-page2 .image img {
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
  border: 2px solid #fff;
}

.subimg img {
  width: 87vh;
  height: 50vh;
  margin-top: 10px;
  border-radius: 50px;
  position: relative;
}
.page2 {
  height: 65vh;
  width: 100%;
}

.page2 i {
  position: relative;
  top: 74%;
  left: 91%;
  font-size: 8vh;
  z-index: 12;
  padding: 3vh;
  border-radius: 50%;
  background-color: #fff;
}
.page3 {
  height: 32vh;
  width: 100%;
  overflow: hidden;

  /* background-color: #fff; */
}
.fontspace {
  margin-top: 35px;
  background-color: #fff;
  transform: rotate(-3deg);
  position: sticky;
  padding: 3vh 0;
}
.fontspace2 {
  width: 100%;
  padding: 3vh 0;
  margin-top: 35px;
  background-color: #fff;
  transform: rotate(2deg);
  position: absolute;

  z-index: 2;
}

.page3 .fontspace h1 {
  font-size: 7vh;
  color: #000000;
  text-transform: uppercase;
  background-color: #fff;
  font-family: "Archivo Black", sans-serif;
}
.page3 .fontspace h1 i {
  background-color: #fff;
}
.page3 .fontspace2 h1 {
  font-size: 7vh;
  color: #000000;
  text-transform: uppercase;
  background-color: #fff;
  font-family: "Archivo Black", sans-serif;
  margin-left: 20px;
}
.page3 .fontspace2 h1 i {
  background-color: #fff;
}
.page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #161616;
}
.section1 {
  background-color: #161616;
  align-items: center;
}
.page4 h1 {
  width: 60%;
  margin-top: 20vh;
  background-color: #161616;
  color: #c6c0ca;
  font-size: 6rem;
  font-family: "Archivo Black", sans-serif;
}
.page4 p {
  line-height: 1;
  width: 35%;
  font-size: 1.3rem;
  margin-top: 20vh;
  background-color: #161616;
  color: #c6c0ca;
  font-family: "Darker Grotesque", sans-serif;
}
.page4::before {
  content: "";
  position: absolute;
  top: 90%;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/bg.png");
  background-size: cover;
  opacity: 10%;
}
.section2 {
  background-color: #161616;
  margin-top: 5vh;
}
.page4 .section2 #video {
  height: 65vh;
  width: 42vw;
  background-color: #161616;
  border-radius: 50px;
  background-image: url(/assets/videoimg.png);
  background-size: cover;
}
.section2 #video i {
  font-size: 5vh;
  position: relative;
  top: 50%;
  left: 45%;
  color: #fff;
  padding: 3vh;
  border-radius: 50%;
  background-color: transparent;
  border: 6px solid white;
}
#textsection {
  background-color: #161616;
}
#textsection .d1 {
  height: 14vh;
  width: 80vh;
  background-color: #202020;
  border-radius: 20px;
  margin-bottom: 10px;
  align-items: center;
}
#textsection .d2 {
  height: 20vh;
  width: 80vh;
  background-color: #202020;
  border-radius: 20px;
  margin-bottom: 10px;
  align-items: center;
}
#textsection .d2 h3 {
  font-size: 15vh;
  background-color: transparent;
  color: #fff;
  padding-left: 5vh;
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
}
#textsection .d2 h4 {
  width: 80%;
  font-size: 8vh;
  background-color: transparent;
  color: #fff;
  padding-left: 5vh;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  line-height: 0.7;
}
#textsection .d2 i {
  background-color: transparent;
  color: white;
  font-size: 8vh;
  font-weight: 300;
}
#textsection .d1 h3 {
  font-size: 7vh;
  background-color: transparent;
  color: #fff;
  padding-left: 6vh;
  font-family: "Archivo Black", sans-serif;
  font-weight: 900;
}
#textsection .d1 h4 {
  width: 80%;
  font-size: 5vh;
  background-color: transparent;
  color: #fff;
  padding-left: 5vh;
  font-family: "Darker Grotesque", sans-serif;
  font-weight: 400;
  line-height: 0.7;
}
#textsection .d1 i {
  background-color: transparent;
  color: white;
  font-size: 8vh;
  font-weight: 300;
}
.page5 {
  height: 100vh;
  width: 100%;
  margin-top: 10vh;
}

.page5::before {
  content: "";
  position: absolute;
  top: 250%;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/assets/pattern.svg");
  background-size: cover;
  opacity: 10%;
}
.page5section1 h1 {
  font-size: 14vh;
  font-family: "Archivo Black", sans-serif;
  color: #fff;
}
.page5section1 {
  align-items: center;
}
.page5section1 .btn {
  padding: 2vh 10vh;
  width: 30%;
}
.btn button {
  padding: 2vh 7vh;
  border: 2px solid #fff;
  border-radius: 50px;
  font-size: 2vh;
  color: #fff;
}
.page5section2 {
  position: relative;
}
.page5section2 h2 {
  font-size: 7vh;
  padding: 3vh 20vh;
  border: 2px solid #fff;
  border-radius: 70px;
  margin-bottom: 30px;
  color: #fff;
  font-family: "Darker Grotesque", sans-serif;
  transition: all ease-in;
  transition-delay: 0.1s;
}
.page5section2 h2 i {
  position: relative;
  top: 0;
  left: 60%;
  padding: 2vh;
  border: 2px solid white;
  border-radius: 50%;
  transition: all ease-in;
  transition-delay: 0.1s;
}

.page5section2 h2:hover {
  background-color: #fff;
  color: #333;
}
.page5section2 h2:hover i {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}
.page6 {
  background-color: #333;
  min-height: 100vh;
  width: 100%;
}
.page6section {
  background-color: #3333;
}
.page6section1 h1 {
  background-color: #333;
  font-size: 14vh;
  font-family: "Archivo Black", sans-serif;
  color: #fff;
}
.page6section1 {
  align-items: center;
  background-color: #333;
}
.page6section1 .btn {
  background-color: #333;
  padding: 2vh 10vh;
  width: 30%;
}
.page6section1 p {
  width: 30%;
  background-color: #333;
  border-radius: 50px;
  font-size: 3vh;
  color: #fff;
  font-family: "Darker Grotesque", sans-serif;
}
.page6section2 {
  background-color: #333;
}
.btn2 {
  background-color: #333;
}

.page6section2 .btn2 button {
  background-color: #333;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 2vh 5vh;
  color: #fff;
  font-size: 2.5vh;
  font-family: "Darker Grotesque", sans-serif;
}
.page6section2 .btn2  button:hover{
  background-color: #8a31ef;
}

.page6section2  button {
  background-color: #333;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 2vh 5vh;
  color: #fff;
  font-size: 2.5vh;
  font-family: "Darker Grotesque", sans-serif;
}
.page6section2  button i{
  background-color: #333;
  font-size: 2.4vh;
}
.page6section3{
  margin-top: 7vh;
  gap: 10px;
  background-color: #333;
}

.page6section3 img{
  height: 70vh;
  width:50%;
  border-radius: 50px;
}
.page6section4{
  margin-top:1vh;
  gap: 10px;
  background-color: #333;
}

.page6section4 img{
  height: 70vh;
  width:50%;
  border-radius: 50px;
  
}